body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header, .footer, .container {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.logo-text {
    font-size: 24px;
    font-weight: bolder;   
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 32px;
    gap: 25%
}

.left-container {
    width: 50%;
}

.right-container img {
    display: flex;
    justify-content: center;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    padding: 18px 0px 18px;
}

button {
    padding: 8px 16px;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    font-weight: bold;
  }
  
img {
    max-width: 300px;
    height: auto;
}


button.sign-up-button {
    background-color: #3882F6;
}

.card-container {
    background-color: #F9FAF8;
    color:#1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-title {
    font-size: 38px;
    font-weight: bolder;
    color:#1F2937
}

.cat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 32px 64px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 300px;
    padding: 32px;
}


.cat-container img {
    border-radius: 8px;
    border: 5px solid #3882F6;
    object-fit: cover;    
}

.cat-card {
    display: flex;
    width: 300px;
    height: 300px;
}

.text {
    padding-top: 32px;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    margin: 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 64px;
}

.speaker {
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    
}

.action-container {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    margin: 64px;
    padding: 64px;
    display: flex;
    align-items: center;
}

button.sign-up-button, .action-container {
    border: 2px #F9FAF8;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}